*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: aliceblue;
}
header{
    background-color: lightblue;
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px;
    position: relative;
    z-index: 2;
}
nav a{
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 0px 30px;
    padding: 5px 10px;
    border-radius: 10px;
    position: relative;
    z-index: 2;

}
nav a:hover{
    background-color: black;
    padding: none;
    margin: none;
}
.portadaletra{
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 150px;     
    font-size: 50px;
    z-index: 2;
}
.portadaletra h1{
    padding: 20px;
    color: lightblue;
}
p{
    font-size: 60px;
    color: black;
}
.logo{
    display: flex;
    color: white;
    align-items: center;
    background-color: black;
    position:relative;
    bottom: 15px; 
    justify-content: center;
}
.logo img{
    height: 70px;
    margin-right: 10px;
}
.fondo{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    object-fit: cover;

}
